<div class=" box container">
    <div class=" div1">
        <input type="radio" name="raido1" id="img1" checked>
        <img src="https://res.vmallres.com/uomcdn/CN/cms/2024-05/530c4d2b53cf4039bf97b6f61c53005f.jpg" alt="">
        <input type="radio" name="raido1" id="img2">
        <img src="https://res.vmallres.com/uomcdn/CN/cms/2024-04/7a8f371069e44c52b9b686447871eab3.jpg" alt="">
        <input type="radio" name="raido1" id="img3">
        <img src="https://res.vmallres.com/uomcdn/CN/cms/2024-04/9732fb241a52468099b72266c86965e7.jpg" alt="">
    </div>
    <div class="div2 clearfix">
        <label for="img1"></label>
        <label for="img2"></label>
        <label for="img3"></label>
    </div>


    <div class=" img-box">
        <ul class="ul1">
            <li>
                <a href="#">手机</a>
                <div class="detail">
                    <div class="aaa">
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>
                                <a [routerLink]="['/mate']" routerLinkActive="active">mate系列</a>
                            </span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>
                        <div>
                            <img src="https://res.vmallres.com/pimages/uomcdn/CN/pms/202403/gbom/6942103109508/800_800_6F16251D7F835F54E7B140CB61A55A5Emp.png"
                                alt="加载失败">
                            <span>mate系列</span>
                        </div>

                    </div>

                </div>
            </li>
            <li>
                <a href="#">穿戴</a>
                <div class="detail">
                    <div class="aaa">穿戴</div>
                </div>
            </li>
            <li>
                <a href="#">平板</a>
                <div class="detail">
                    <div class="aaa">平板</div>
                </div>
            </li>
            <li>
                <a href="#">电脑</a>
                <div class="detail">
                    <div class="aaa">电脑</div>
                </div>
            </li>
            <li>
                <a href="#">耳机音响</a>
                <div class="detail">
                    <div class="aaa">耳机音响</div>
                </div>
            </li>
            <li>
                <a href="#">智慧屏</a>
                <div class="detail">
                    <div class="aaa">智慧屏</div>
                </div>
            </li>
            <li>
                <a href="#">智能家居</a>
                <div class="detail">
                    <div class="aaa">智能家居</div>
                </div>
            </li>
            <li>
                <a href="#">出行车品</a>
                <div class="detail">
                    <div class="aaa">出行车品</div>
                </div>
            </li>
            <li>
                <a href="#">数码配件</a>
                <div class="detail">
                    <div class="aaa">数码配件</div>
                </div>
            </li>
            <li>
                <a href="#">增值服务</a>
                <div class="detail">
                    <div class="aaa">增值服务</div>
                </div>
            </li>
            <li>
                <a href="#">商用终端</a>
                <div class="detail">
                    <div class="aaa">商用终端</div>
                </div>
            </li>
            <li>
                <a href="#">生态周边</a>
                <div class="detail">
                    <div class="aaa">生态周边</div>
                </div>
            </li>
        </ul>


    </div>
</div>